@{
    ViewBag.Title = "About";
}
<div>
    <br/>
    <br/>
    <p class="lead" style="font-style:italic">Nothing is ever really lost to us as long as we remember it..</p>
</div>

<div class="well-lg">
    <div>
        <p>
            Life is full of exicting events, memories, untold stories. All this is lost after a person passes away.
            This is our attempt to immortalise a lost loved one by sharing his life with friends and family.
        </p>

        <p>
           We care alot about your privacy. Your stories are not visible to others unless book admin lets them join the book.
        </p>
    </div>
</div>

