
<br/>
<br/>
<br/>
<h3>We would love to hear from you</h3>

<p>We would love to know your suggestions and feedback</p>
<p>If you are displeased with any content on this website or find it abusive, do let us know and we will take the necessary action.</p>
<br/>
<p>Contact</p>
<address>
    Not Forgotten<br />
    address<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:NotForgotten@gmail.com">NotForgotten@gmail.com</a><br />
</address>